body{
    height: 100vh;
    background: rgb(248,249,250);
    background: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(227,255,227,1) 47%, rgba(0,255,151,1) 100%);
}

#userInfo{
    padding-top: 20%;
}

#padded-div{
    padding-top: 10%;
}

.btn-circle.btn-xl{
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

#cancelBtn{
    display: inline-block;
    width: 100%;
    text-align: center;
    color: #dc3645;
}

#searchBtn{
    margin-top: 10%;
    width: 100%;
}

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-70 { font-size: 70px; }

.results-body{
    height: 100px;
    overflow: scroll;
}

#actionsPanel{
    padding-top: 10%;
}

#logoutText{
    color: #dc3645;
}

.btn-circle.btn-xl-main{
    width: 90%;
    height: 150px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

a{
    color: black;   
}

a:hover{
    color: black;
}

.displayResults{
    height: 30vh;
    overflow: scroll;
}

#cancelBtn{
    margin-top: 10px;
}

#backBtn{
    margin-top: 10px;
    width: 45%;
}

#newSearchBtn{
    float: right;
    margin-top: 10px;
    width: 45%;
}

#confirmBtn{
    float: right;
    margin-top: 10px;
    width: 45%;
}

#deleteBtn{
    float: left;
    margin-top: 10px;
    width: 45%;
}

.moreOptions{
    margin-top: 5vh;
}

#infoSection{
    margin-top: 5vh;
}

#confirmLiveBtn{
    width: 100%;
}

.moreInfo{
    margin-top: 5vh;
}


.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 14px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
