body{
    height: 100vh;
    background: rgb(248,249,250);
    background: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(227,255,227,1) 47%, rgba(0,255,151,1) 100%);
}

#loginForm{
    padding-top: 20%;
}

#loginBtn{
    width: 100%;
}

#versionInfo{
    padding-top: 10%;
    font-size: 10px;
}