body{
    height: 100vh;
    background: rgb(248,249,250);
    background: linear-gradient(180deg, rgba(248,249,250,1) 0%, rgba(227,255,227,1) 47%, rgba(0,255,151,1) 100%);
}

#userInfo{
    padding-top: 20%;
}

.btn-circle.btn-xl{
    width: 100px;
    height: 100px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}

.material-icons.md-48 { font-size: 48px; }

.material-icons.md-70 { font-size: 70px; }

#actionsPanel{
    padding-top: 10%;
}

#logoutText{
    color: #dc3645;
}

.btn-circle.btn-xl-main{
    width: 90%;
    height: 150px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

a{
    padding: 20px 16px !important;
}
